<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkh.sa.base.module.support.dict.dao.DictDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        sys_dict.dict_id,
        sys_dict.dict_name,
        sys_dict.dict_code,
        sys_dict.remark,
        sys_dict.disabled_flag,
        sys_dict.create_time,
        sys_dict.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="com.hkh.domain.vo.dict.DictVO">
        SELECT
        <include refid="base_columns"/>
        FROM sys_dict
        <where>
            <!--关键字-->
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (
                INSTR(sys_dict.dict_name,#{queryForm.keywords})
                OR INSTR(sys_dict.dict_code,#{queryForm.keywords})
                OR INSTR(sys_dict.remark,#{queryForm.keywords})
                )
            </if>
            <!--禁用状态-->
            <if test="queryForm.disabledFlag != null">
                AND sys_dict.disabled_flag = #{queryForm.disabledFlag}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            order by create_time desc
        </if>
    </select>

    <select id="selectByCode" resultType="com.hkh.domain.entity.dict.DictEntity">
        select * from sys_dict where dict_code = #{code}
    </select>


</mapper>
