<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkh.ai.mapper.AgentFieldMapper">

    <resultMap id="BaseResultMap" type="com.hkh.ai.domain.AgentField">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fid" column="fid" jdbcType="VARCHAR"/>
            <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fid,field_name,
        description,status,create_time,
        create_by
    </sql>
</mapper>
