html, body {
    height: 100%;
    overflow: hidden;
}
.gpt-answer td {
    padding: 2px;
    border: 1px solid #555;
}
.gpt-answer th {
    padding: 2px;
    border: 1px solid #555;
}
#main-content{
    height: 100%;
}
#chatList{
    margin-bottom: 50px;
}

.bottom250{
    bottom: 250px;
    padding-top: 250px;
}

.bottom400{
    bottom: 400px;
    padding-top: 400px;
}

#conversation{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chatList div.text-left{
    font-size: 15px;
    line-height: 1.8;
    padding: 12px 10px 12px 16px;
    border-radius: 5px;
}

.gpt-answer,.gpt-answer-image{
    background-color: #f4f6f8;
    /*width: fit-content;*/
    padding: 12px 10px 12px 16px;
    border-radius: 5px;
}

#chatList div.text-right{
    font-size: 15px;
    line-height: 1.8;
    padding: 12px 10px 12px 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.human-question{
    background-color: #d2f9d1;
    padding: 10px 10px 9px 14px;
    border-radius: 5px;
}


/*::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    height: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: #ccc;*/
/*    border-radius: 2px;*/
/*}*/

/*::-webkit-scrollbar-button {*/
/*    background-color: #e3dcdc;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-track-piece {*/
/*    background-color: #ddd;*/
/*}*/

/*::-webkit-scrollbar-corner {*/
/*    background-color: #fff;*/
/*}*/

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 6px;  /* 宽度 */
    height: 8px;  /* 高度 */
    background-color: #f5f5f5;  /* 背景颜色 */
}

/* 滑块 */
::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;  /* 颜色 */
    border-radius: 10px;  /* 圆角 */
}

/* 鼠标悬浮在滑块上的状态 */
::-webkit-scrollbar-thumb:hover {
    background-color: #7d7d7d;  /* 颜色 */
}

/* 当滑块处于激活状态（被点击） */
::-webkit-scrollbar-thumb:active {
    background-color: #000000;  /* 颜色 */
}

/* 滑轨 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;  /* 背景颜色 */
    border-radius: 10px;  /* 圆角 */
}

/* 滑块处于顶部（当内容不足时）或底部时 */
::-webkit-scrollbar-button {
    display:none;  /* 不显示 */
}

/* 步进按钮（“上”和“下”箭头） */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0;  /* 高度 */
    width: 0;  /* 宽度 */
    display:none;  /* 不显示 */
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.header-bar{
    height: 50px;
    /*background-color: #f3f3f3;*/
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-content{
    width: 250px;
    height: 100%;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-bottom{
    border-top: 1px solid #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logout-form{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#username-text{
    margin-left: 20px;
    width: 80%;
}

#setting-btn {
    margin-right: 20px;
    /* text-align: center; */
    /* margin: 0px 20px 0px 0px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-content{
    width: 250px;
    height: 100%;
    border: 1px solid #e5e7eb;
}

#layout-content{
    width: 98%;
    height: 98%;
    margin-top: 10px;
    margin-left: 1%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;

}

.shadow-md {
    box-shadow: 0px 3px 0px #e5e7eb;
}

.add-session-btn{
    width: 90%;
    height: 34px;
    margin-left: 5%;
    margin-top: 10px;
    border: 1px dashed #b1d3b1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.session-item{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 10px;
    border: 1px dashed #b1d3b1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    padding-left: 16px;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.chat-icons{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-icons a{
    color: #7d7d7d;
}

.chat-icons a.selected{
    color: #5fb15f;
}

.iconKnowledgeSet{
    color: #7d7d7d !important;
}


.header-fix-btn a.selected{
    color: #5fb15f !important;
}



a:hover {
    cursor: pointer;
}

.knowledge-save-div,example-attach-div{
    margin: 10px;
    border-bottom: 1px solid #e5e7eb;
}

.knowledge-attach-div,.example-attach-div{
    margin: 10px;
}

#knowledge-name{
    margin-left: 7px;
}

.selected-session{
    color: #5fb15f;
    border: 1px solid #5fb15f;
}

.session-item-title{
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
}

.chat-input-mid{
    width: 100%;
}

.session-item-title-selected {
    width: 60%;
    max-width: 60%;
    border: 1px solid #333333;
}

.session-item-title-selected::after {
    content: "|";
}

.session-item-title-selected:focus::after {
    display: none;
}


.session-item-operate{
    margin-right: 15px;
}

.session-item-remove{
    margin-left: 10px;
}

.session-item:hover .session-item-operate{
    display: block !important;
}

.session-item:hover .session-item-remove{
    display: block !important;
}

.header-fix-btn{
    display: none;
}

.showSessionList {
    color: #7d7d7d;
}
.session-title{
    margin-left: 15px;
    width: 82%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-menu-show{
    position: fixed;
    z-index: 1001;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    display: flex !important;
}

.right-content-show{
    position: fixed;
    z-index: 1001;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    display: block !important;
}

.full-screen-bg{
    position: fixed;
    display: block;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #bab4c1;
    opacity: 0.5;
}


.h{
    display: none !important;
}

#username-text label {
    margin-bottom: 0px;
}

.knowledge-edit-form{
    width: 50%;
    height: 50%;
    margin: 10% auto;
    background-color: white;
    padding: 2%;
}

#alertMsgDiv{
    position: fixed;
    top: 70px;
    left: 30%;
    right: 30%;
}

.voice-btn{
    position: absolute;
    margin-right: 12px;
    color: gray;
}

.vision-btn{
    position: absolute;
    margin-right: 36px;
    color: gray;
}

.voice-close-btn{
    position: absolute;
    margin-right: 12px;
    color: gray;
}

.vision-close-btn{
    position: absolute;
    margin-right: 12px;
    color: gray;
}

.voiceTopDiv{
    height: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.visionTopDiv{
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.visionModeDiv{
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.visionTextDiv{
    padding: 10px;
}

#visionTextArea{
    width: 100%;
    height: 150px;
    border: 1px solid #ebe1e1;
    padding: 10px;
}

.visionMidDiv{
    padding: 0px 10px 10px 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.visionAddBtn{
    width: 90px;
    height: 90px;
    border-radius: 6px;
    border: 1px solid #aa9d9d;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e9e6e6;
    margin-left: 10px;
    margin-top: 10px;
}

.visionSelectedImage{
    width: 90px;
    height: 90px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 10px;
}
.vision-add-img-btn{
    color: #c4bdbd;
}

.voiceMidDiv{
    text-align: center;
}

.voiceMidTitleDiv{
    height: 40px;
    font-size: 20px;
}

/*.voiceMidMsgDiv{*/
/*    font-size: 12px;*/
/*    height: 20px;*/
/*}*/

.voiceWaveDiv{
    height: 100px;
}

.wave-container{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.voiceBottomDiv{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.voiceBottomLeftDiv{
    display: flex;
}


.voiceBottomRightDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 980px){
    #left-content {
        display: none;
    }
    #main-content {
        height: 100%;
        width: 100%;
    }
    #right-content {
        display: none;
    }
    #layout-content {
        height: calc(100% - 100px);
    }
    .bottom-fix-btn{
        bottom: 0px !important;
        width: 100% !important;
        border-top: 1px solid #f5f5f5;
    }
    .iconKnowledge{
        margin-left: 5px;
        margin-right: 5px;
    }
    .chat-input {
        width: 100%;
        justify-content: space-between;
    }
    .chat-input-mid{
        width: 100%;
    }

    #alertMsgDiv{
        position: fixed;
        top: 70px;
        left: 10%;
        right: 10%;
    }

    .header-fix-btn {
        width: 100%;
        height: 50px;
        background-color: #fff;
        position: relative;
        border-bottom: 1px solid #f5f5f5;
        z-index: 999;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .knowledge-edit-form{
        width: 80%;
        height: 60%;
        margin: 10% auto;
        background-color: white;
        padding: 2%;
    }

}

.knowledge-select-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #3338;
    z-index: 9999;
}

.h{
    display: none;
}



.col-flex-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nearest-content{
    padding: 10px 20px 10px 20px;
    max-height: 800px;
    overflow-y: scroll;
}

.nearest-chunk{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px dashed red;
}

