html, body {
    height: 100%;
}

#main-content{
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
