<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkh.openai.mapper.KnowledgeMapper">

    <resultMap id="BaseResultMap" type="com.hkh.ai.domain.Knowledge">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="kid" column="kid" jdbcType="VARCHAR"/>
            <result property="kname" column="kname" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,kid,kname,
        create_time,create_by
    </sql>
</mapper>
