<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkh.ai.mapper.SpecialNounMapper">

    <resultMap id="BaseResultMap" type="com.hkh.ai.domain.SpecialNoun">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pinyin,content,sort,
        create_time,create_by
    </sql>
</mapper>
